body {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient from coral to light salmon */
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #4b0082; /* Indigo */
    text-align: center;
    font-weight: 500;
    font-size: 32px;
}

hr {
    height: 10px;
    width: 20%;
    background-color: #32cd32; /* Lime Green */
    border-radius: 10px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], 
input[type=email], 
input[type=password], 
input[type=date], 
input[type=tel], 
select, 
textarea {
    width: 100%;
    padding: 18px;
    border: 1px solid #8a2be2; /* Blue Violet */
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 18px;
    background-color: #fff; /* White */
    color: #4b0082; /* Indigo */
}

input[type=submit] {
    background-color: #ff6347; /* Tomato */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #ff4500; /* Orange Red */
}

.container {
    margin-top: 3%;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #00c6ff, #0072ff); /* Gradient from light blue to royal blue */
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* White text for better contrast */
}

.terms {
    display: flex;
    align-items: center;
    color: #ffffff; /* White text for better contrast */
}
